ignore
.vagrant
logs
*.log
project/project/target
project/target
target
tmp
.history
dist
out
.classpath
.project
.settings
.DS_Store
test-output/

*/**/.kotlintest
build
.vscode

# temp files
.~*
*~
*.orig

# eclipse
.scala_dependencies
.buildpath
.target
bin/
journal
snapshots
*.rdb
.bloop
project/.bloop
project/project/.bloop
.metals
.gradle
*/.kotlintest

!.idea/gradle.xml
.idea
esw-mono/.idea